# C++ objects and libs

*.slo
*.lo
*.o
*.a
*.la
*.lai
*.so
*.dll
*.dylib

# Qt-es

/.qmake.cache
/.qmake.stash
*.pro.user
*.pro.user.*
*.qbs.user
*.qbs.user.*
*.moc
moc_*.cpp
qrc_*.cpp
ui_*.h
Makefile*
*build-*

# QtCreator

*.autosave

# QtCtreator Qml
*.qmlproject.user
*.qmlproject.user.*

# QtCtreator CMake
CMakeLists.txt.user

/easysol/solutions/point1/EasyEvent_EnvironmentMonitoringService.docx
/easysol/solutions/point2/Installer/nsis
/solutions/point2/Installer/nsis
/solutions/point1/EasyEvent_EnvironmentMonitoringService.docx
/solutions/point2/EasySequence/Win32
/solutions/point2/EasySequence/EasySequence.sdf
/solutions/point2/EasySequence/EasySequence/Release
/solutions/point2/EasySequence/EasySequence/Debug
/solutions/point2/EasySequence/EasySequence/GeneratedFiles
/solutions/point2/vs
